/* You can add global styles to this file, and also import other style files */

ng-select > div > div.single > div.clear, ng-select > div > div.single > div.toggle {
  color: #aaa;
  line-height: 30px;
  text-align: center;
  width: 30px;
  padding-top: 0;
}

/* begin custom dropdown tài xế history map*/
.custom-class-example {
  color: #000;
}
.custom-class-example .c-token{
  background: #38d574 !important;
}
.custom-class-example .pure-checkbox label::before {
  border-color: #38d574 !important;
}
.custom-class-example .pure-checkbox input[type="checkbox"]:checked + label[_ngcontent-c1]:before {
  background: #38d574 !important;
}

.selected-list[_ngcontent-c6] .c-btn[_ngcontent-c6] {
  width: 100%;
  box-shadow: 0px 0px 0px #959595 !important;
  padding: 6px !important;
  cursor: pointer;
  display: flex;
  position: relative;
}
.x_title span {
  color: #555 !important;
}
/*end custom dropdown tài xế history map*/


