<div class="clearfix"></div>
<div class="row">
  <div class="clearfix"></div>
  <div class="x_panel">
    <div class="x_title">
      <label class="control-label col-md-1 col-sm-1 col-xs-12" >Hợp đồng
        <span class="required">*</span>
      </label>
      <div class="col-md-7 col-sm-7 col-xs-12 form-group ">
        <select class="form-control" name="filterCampaignCars" [(ngModel)]="filterCampaignCars" (change)="changeCampaign($event)">
          <option value="">--Chọn hợp đồng--</option>
          <option *ngFor="let x of customerCampaigns" [value]="x.cars">{{x.name}} - {{x.location_lat}} - {{x.location_lng}}</option>
        </select>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <div id="map"></div>
    </div>
  </div>
</div>
