<div class="page-title">
  <div class="title_left">
    <h3>Đổi mật khẩu
    </h3>
  </div>
  <div class="title_right">
    <ul class="nav navbar-right panel_toolbox">
      <li>
        <button class="btn btn-primary" routerLink="/main/home/index">Quay lại</button>
      </li>
    </ul>
  </div>
</div>
<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_content">
        <form class="form-horizontal form-label-left" #changePasswordForm="ngForm" novalidate (ngSubmit)="saveChange(changePasswordForm)"
          *ngIf="user">
          <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 text-danger">Mật khẩu cũ</label>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <input type="password" reverse="true" #oldpassword="ngModel" [(ngModel)]="user.oldpassword" required
                name="oldpassword" class="form-control">
              <small [hidden]="oldpassword.valid || (oldpassword.pristine && !changePasswordForm.submitted)" class="text-danger">
                Bạn phải nhập mật khẩu cũ
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 text-danger">Mật khẩu mới</label>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <input type="password" reverse="true" #newpassword="ngModel" [(ngModel)]="user.newpassword" required validateEqual="confirmPassword"
                minlength="6" name="newpassword" class="form-control">
              <small [hidden]="newpassword.valid || (newpassword.pristine && !changePasswordForm.submitted)" class="text-danger">
                Bạn phải nhập tên ít nhất 6 ký tự và 1 ký tự số (vd: 123456Ab)
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12 text-danger">Xác nhận mật khẩu</label>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <input type="password" reverse="false" #confirmPassword="ngModel" [(ngModel)]="user.confirmPassword" required validateEqual="newpassword"
                minlength="6" name="confirmPassword" class="form-control">
              <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !changePasswordForm.submitted)" class="text-danger">
                Xác nhận mật khẩu sai
              </small>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="submit" class="btn btn-success" [disabled]="!changePasswordForm.form.valid">Đổi mật khẩu</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
