<div class="clearfix"></div>
<div class="row">
  <div class="clearfix"></div>
  <div class="x_panel">
    <div class="x_title">
      <div class="col-md-2 col-sm-2 col-xs-12 form-group">
        <input type="text" name="startDate" daterangepicker [options]="dateOptions" (selected)="changeStartDate($event)" [(ngModel)]="filterStartDate"
          class="form-control" placeholder="Từ ngày">
        <span class="fa fa-calendar form-control-feedback right" aria-hidden="true"></span>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-12 form-group ">
        <input type="text" name="endDate" daterangepicker [options]="dateOptions" (selected)="changeEndDate($event)" [(ngModel)]="filterEndDate"
          class="form-control" placeholder="Đến ngày">
        <span class="fa fa-calendar form-control-feedback right" aria-hidden="true"></span>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
        <select class="form-control" name="campaign_id" (change)="selectedCampaign($event)">
          <option value="">--Chọn hợp đồng--</option>
          <option *ngFor="let x of campaigns" [value]="x._id">{{x.name}}</option>
        </select>
      </div>
      <ul class="nav navbar-right panel_toolbox">
        <!-- <li>
          <button type="submit" class="btn btn-primary" (click)="search()">
            <i class="fa fa-search"></i>&nbsp;&nbsp;Xem lịch sử</button>
        </li> -->
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-12">
      <div class="col-md-9">
        <div id="map">
        </div>
      </div>
      <div class="col-sm-3 mail_list_column">
        <div class="input-group">
          <input [(ngModel)]="driverFilter.license_plate" class="form-control" name="search" placeholder="Tìm số xe...">
        </div>
        <div class="clearfix" style="margin-top: 10px;"></div>
        <div class="scrollbar" id="driver_scrollbar">
          <li *ngFor="let item of driversPersonnalScroll | filterBy: driverFilter; let i=index" style="list-style:none;">
            <a style="cursor: pointer;" (click)="searchByCondition(item.device_id)">
              <div class="mail_list">
                <div class="left">
                  <i class="fa fa-star"></i>
                </div>
                <div class="right">
                  <p>{{item.user_id.fullname}}</p>
                  <p>{{item.car_manufacturer}} - {{item.license_plate}} </p>
                </div>
              </div>
            </a>
          </li>
        </div>
      </div>
    </div>
  </div>
</div>